<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="appareils">Appareils <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" routerLink="edit">Edit </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="users">Utilisateurs</a>
      </li>
    </ul>

    <ul class="navbar-nav  navbar-right">

      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" routerLink="auth">Authentification </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <p>Vous êtes connecté depuis {{ secondes }} secondes </p>
    </div>
    <div class="col">
     <router-outlet></router-outlet>
    </div>
  </div>
</div>
